---
layout: page
---

Follow <a href="https://www.lu.se/">Lund University</a> at <a href="https://nwerc.eu/"> NWERC 2019 </a>, the north western european qualification for the World Championships in competitive programming in teams - ICPC.

The contest starts at 10:00 the 17th of November and lasts for 5 hours. 

<h2> Blog </h2>

<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <div id="flex-container">
          <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
            <div id="thumbnail-img">
            {% if post.img %}
              <img src="{{post.img}}"
                   {% if post.portrait %} class="portrait" {% endif %}
              />
            {% else %}
              <div class="thumbnail blankbox"></div>
            {% endif %}

            </div>
            <div  style="display:block;text-align:left">
              <h4>{{ post.title }}</h4>
          </a>
            <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
            <p>{{ post.description }}</p>
          </div>
        </div>
        <br/>
        <hr/>
    </li>
        
    {% endfor %}
</ul>
